@tailwind base;
@tailwind components;
@tailwind utilities;

/* small extras to match your design */
:root {
  --c1: #2C3930;
  --c2: #3F4F44;
  --c3: #A27B5C;
  --c4: #DCD7C9;
}
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
